<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>PostAll</h2>
    <table>
        <tr>
            <th>postId</th>
            <th>title</th>
            <th>likes</th>
        </tr>
        <tr th:each="post : ${allPosts}">
            <td>
                <a th:href="@{/posts/{postId}(postId=${post.postId})}" th:text="${post.postId}">1</a>
            </td>
            <td>
                <a th:href="@{/posts/{postId}(postId=${post.postId})}" th:text="${post.title}">title</a>
            </td>
<!--            <td th:text="${post.title}">title</td>-->
            <td th:text="${post.likes}">10</td>
            <td th:text="${post.userid}">userid</td>
            <td>
                <div th:if="${post.userid == session.userid}">   <!--th:unless="${post.userid != session.userid -->
                    <form th:action="@{/posts/delete/{postId}(postId=${post.postId})}" method="post">
                        <button type="submit">삭제</button>
                    </form>
                </div>
                <!-- <button th:onclick="|location.href='@{/posts/delete/{postId}(postId=${post.postId})}'|">삭제</button>-->
            </td>
        </tr>
    </table>
    <div th:if="${param.error}">
        게시판 글 삭제 실패
    </div>
</body>
</html>