<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<body>
    <h1>회원가입</h1>
    <p th:if="${param.error}" style="color:red">
        회원가입 오류
    </p>
    <form th:action="@{/users/login}" method="post" id="join_form">
        <div>
            <label for="userid">Userid</label>
            <input type="text" id="userid" name="userid">
            <button onclick="useridCheck()" type="button">아이디 중복 체크</button>
        </div>
        <div>
            <label for="pwd1">Password 1</label>
            <input type="password" id="pwd1" name="pwd1">
        </div>
        <div>
            <label for="pwd2">Password 2</label>
            <input type="password" id="pwd2" name="pwd2">
        </div>
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
        </div>
        <div>
            <button onclick="joinBtn()" type="button">회원가입</button>
        </div>
        <div>
<!--            <button type="button" th:onclick="|location.href='@{/users/login}|">로그인</button>-->
            <button type="reset">취소</button>
            <button th:onclick="|location.href='@{/users/login}|" type="button">로그인</button>
        </div>
    </form>
    <script>
        let duplicateUseridCheck = false;
        function useridCheck() {
            const userid = document.getElementById("userid").value.trim();
            console.log("userid ==> " + userid);
            if(userid == "") {
                alert("아이디를 입력해주세요.");
            } else {
                axios.get("/users/check", {
                    params:{userid : userid}
                }).then(res => {
                    if(res.data) {
                        alert("사용 가능한 아이디입니다.");
                    } else {
                        alert("이미 사용중인 아이디입니다.");
                    }
                duplicateUseridCheck = res.data;
                }).catch(err => {
                    console.err(err);
                    duplicateUseridCheck = false;
                });
            }
        }

        function joinBtn() {
            const userid = document.getElementById("userid").value.trim();
            const pwd1 = document.getElementById("pwd1").value.trim();
            const pwd2 = document.getElementById("pwd2").value.trim();
            const name = document.getElementById("name").value.trim();
            if(userid && pwd1 && pwd2 && name) {
                if(duplicateUseridCheck && pwd1 == pwd2) {
                   document.getElementById("join_form").submit();
                } else {
                    alert("이미 사용중인 아이디이거나, 입력한 2개의 암호가 다릅니다.");
                }
            } else {
                alert("필수 입력 값을 확인해주세요.");
            }
        };
    </script>
</body>
</html>